<!-- CSS only -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/channel.css">
<link rel="stylesheet" href="/static/css/div.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="nav">
	<input type="checkbox" id="nav-check">
	<div class="nav-header">
		<div class="nav-title">
			ChatApp
		</div>
	</div>
	<div class="nav-btn">
		<label for="nav-check">
			<span></span>
			<span></span>
			<span></span>
		</label>
	</div>

	<div class="nav-links">
		<a href="/dashboardpage">Dashboard</a>
		<a onclick="document.getElementById('id01').style.display='block'" class="notification">
			<span>Notification</span>
			<span class="badge">0</span>
		</a>
		<a style="color:red" href="/logout">Logout</a>

	</div>
	<i class='fas fa-user-alt'></i>
	<i class='fas fa-user-alt' style='font-size:24px'></i>
	<i class='fas fa-user-alt' style='font-size:36px'></i>
	<i class='fas fa-user-alt' style='font-size:48px;color:red'></i>
	<input class="search" placeholder="Search Post..." id="postSearch" />
</div>
<div class="w3-container">
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content">
			<header class="w3-container w3-teal">
				<span onclick="document.getElementById('id01').style.display='none'"
					class="w3-button w3-display-topright">&times;</span>
				<h2>Notification</h2>
			</header>
			<div id="alert" class="alert">

			</div>
			<footer class="w3-container w3-teal">
				<p></p>
			</footer>
		</div>
	</div>
</div>
<div class="float-container">
	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<p class="text-center">Add channel</p>
			<form action="/addchanel" method="POST">
				<div class="d-flex flex-row align-items-center mb-4">
					<i class="fas fa-user fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<label class="form-label" for="form3Example1c">Channel Name</label>
						<input name="chanelName" required type="text" id="form3Example1c" name="chanelName"
							class="form-control" />
					</div>
				</div>
				<div class="d-flex flex-row align-items-center mb-4">
					<i class="fas fa-user fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<label class="form-label" for="form3Example1c">Add Tags</label>
						<input placeholder="Add can be multiple" required type="text" name="tag" class="form-control" />
					</div>
				</div>
				<div class="d-flex flex-row align-items-center mb-4">
					<i class="fas fa-user fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<label class="form-label" for="form3Example1c">Description</label>
						<input name="description" required type="text" id="description" class="form-control" />
					</div>
				</div>
				<button type="submit" class="btn btn-success chanelButton">Create Channel</button>
			</form>
		</div>
	</div>

	<div class="wrapper">
		<h5 class="float-child">channel <button class="dot" id="myBtn">➕</button></h5>

		<button type="button" id="addMember" data-toggle="collapse" data-target="#demo">+👤</button>
		<% if(username){%>
			<h4 class="dynamicUsername">
				<%=username%>
			</h4>
			<%}%>
				<button type="submit" class="btn btn-success createpost" data-toggle="collapse"
					data-target="#post">Post</button>
				<div id="chanel" class="one">

				</div>
				<!-- <div class="float-parent"> -->

				<div id="rightChanel" class="two">
					<h5 style="text-align: center;" class="text-danger">
						<p style="font-size:25px" id="messageshow">
							<%= message%>
						</p>
						<script>
							let messageShow = document.getElementById("messageshow")
							setTimeout(function () {
								messageShow.innerHTML = ""
							}, 2000)
						</script>
					</h5>
					<div id="inside">
					</div>

					<div id="postDiv">

					</div>
					
				</div>
	</div>

	<div id="demo" class="memberDiv collapse right">
		<form action="/addmember" method="post">
			<label class="form-label" for="form3Example1c">Add Member</label>
			<input name="addMember" type="text" class="form-control" required />
			<button id="member" style="margin-left: 10px;width: 100px;margin-top: 10px;" type="submit"
				class="btn btn-success">Add</button>
		</form>
	</div>

	<div id="post" class="postDiv collapse right">
		<form action="/addPost" method="post">
			<label class="form-label" for="form3Example1c">Post Nmae</label>
			<input name="addPost" type="text" class="form-control" required />
			<button id="post" style="margin-left: 10px;width: 100px;margin-top: 10px;" type="submit"
				class="btn btn-success">Add Post</button>
		</form>
	</div>
</div>

</div>

<!-- JavaScript Bundle with Popper -->
<script src="/static/js/channel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/static/js/addchanel.js"></script>