<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot-Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form action="/forgotPassword" method="post" class="row g-3">
                        <p style="color:red" class="text-center">
                            <%= message %>
                        </p>
                        <h4 class="text-center">Forgot Password</h4>
                        <div class="col-12">
                            <label>Username</label>
                            <input required type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        
                        <div class="col-12">
                            <button style="margin-right: 100px;"type="submit" class="btn btn-dark float-end">Send Mail</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>