<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="overlay">
        <form action="/login" method="post" class="login">
            <h3 style="color:green;text-align: center;">
                <%=message %>
            </h3>
            <header class="head-form">
                <h2>Log In</h2>
                <!--     A welcome message or an explanation of the login form -->
             </header>
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input name="username"type="text" class="login__input" placeholder="Username " required>
            </div>
            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input type="password" name="password"class="login__input" placeholder="Password" id="pwd" required>
                <i class="button__icon fas fa-eye" type="button" id="eye"></i>
            </div>
            <button class="button login__submit">
                <span class="button__text">Log In Now</span>
                
            </button>
            <div>
                <p class="message" id="message">Not Registered?&nbsp; &nbsp;<a href="/signup">Creat An Account</a></p>
                <p class="message" >Forget Password?&nbsp;&nbsp;<a href="/forgotPassword">Reset Password</a></p>
            </div>				
        </form>
    </div>
  
    <script src="/static/js/eye.js"></script>

</body>

</html>