<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    
<div class="main">
    <h1>Dashboard </h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
         
          <div class="card_content">
            <h2 class="card_title">Popular users</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <hr>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <hr>
                <li class="list-group-item">Vestibulum at eros</li>
                <hr>
              </ul>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
         
          <div class="card_content">
            <h2 class="card_title">Popular Chanels</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <hr>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <hr>
                <li class="list-group-item">Vestibulum at eros</li>
                <hr>
              </ul>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
        
          <div class="card_content">
            <h2 class="card_title">Popular Post</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <hr>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <hr>
                <li class="list-group-item">Vestibulum at eros</li>
                <hr>
              </ul>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
         
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <hr>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <hr>
                <li class="list-group-item">Vestibulum at eros</li>
                <hr>
                <li class="list-group-item">Cras justo odio</li>
                <hr>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <hr>
                <li class="list-group-item">Vestibulum at eros</li>
                <hr>
              </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <h3 class="made_by">Thank you ♡</h3>
</body>
<script src="/static/js/dashboardclient.js"></script>
</html>